*
{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
body
{
    background-color: #222;
}

.card 
{
    width: 50%;
    max-width: 300px;
    background: linear-gradient(130deg,#cdca73,#726ba0);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 25px 20px;
    text-align: center;
}

button 
{
    border: 0px;
    outline: 0px;
    background-color: #ebfffc;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}

.search input 
{
    border: 0px;
    outline: 0px;
    background-color: #ebfffc;
    height: 32px;
    border-radius: 28px;
    padding-left: 20px;
    font-size: 1rem;
}

.im1 
{
    margin-top: 15px;
}


.details
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;

}

.col
{
    display: flex;
    align-items: center;
    text-align: left;
}


.humidity , .wind 
{
    font-size: 28px;
    margin-top: -6px;
}

#btn:hover
{
    background-color: rgb(59, 69, 67);
    color: white;
}

.error
{
    text-align: left;
    margin-left:10px;
    font-size: 12px;
    margin-top: 2px;
    color: #6c6767;
    display: none;
}



@media (min-width: 220px) and (max-width: 520px) {
  .card {
    width: 60%;
    max-width: 300px;
    background: linear-gradient(130deg, #cdca73, #726ba0);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 25px 20px;
    text-align: center;
  }

  .search input {
    border: 0px;
    outline: 0px;
    background-color: #ebfffc;
    width: 130px;
    height: 32px;
    border-radius: 28px;
    padding-left: 15px;
    font-size: 0.9rem;
  }

  .humidity,
  .wind {
    font-size: 15px;
    margin-top: -6px;
  }

  .hm,
  .wn {
    font-size: 10px;
  }
}


